streamlit
streamlit-extras
sentence-transformers==2.7.0
transformers
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
faiss-cpu
huggingface-hub
groq
google-generativeai
faster-whisper
pyannote.audio
piper-tts
PyMuPDF
Pillow
pytesseract
unstructured
markdown-it-py==2.2.0
plotly
pandas
numpy
scipy
torch
torchaudio
sounddevice
pydub
requests
python-dotenv
psutil
watchdog
pyyaml
