streamlit
streamlit-extras
sentence-transformers
transformers
langchain
chromadb
faiss-cpu
huggingface-hub
groq
google-generativeai
faster-whisper
pyannote.audio
piper-tts
PyMuPDF
Pillow
pytesseract
unstructured
markdown-it-py
plotly
pandas
numpy
scipy
torch
torchaudio
sounddevice
pydub
requests
python-dotenv
psutil
watchdog
